/* Section */
.sub {
    background-color: snow;
}

.d-flex a {
    background-color: #8a1fe5;
    color: white;
    border-radius: 8px;
}

.sub h5 {
    color:#131314;
}

.sub input {
    height: 51px;
    width: 50%;
    color: #131314;
    outline: none;
    padding: 10px;
}

.btn1 {
    height: 50px;
    width: 50%;
    color: white;
    background-color: #131314;
    outline: none;
    border: none;
    margin-left: -2px;
}

.btn1:hover {
    background-color: grey;
    color: #131314;
    transition: 0.6s;
}


/* Collections */
.collection span {
    color: #8a1fe5;
    font-size: 19px;
    font-weight: 800;
    padding-left: 5px;
}

.card {
    border: none;
}

.collection input {
    position: absolute;
    height: 45px;
    width: 110px;
    background-color: #8a1fe5;
    color: #131314;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    top: 40%;
    left: 30%;
    opacity: 0;
}

.collection .card:hover input {
    opacity: 1;
    transition: 0.8s;
}

.collection input:hover {
    background-color: #131314;
    color: #8a1fe5;
    transition: 0.5s;
    cursor: pointer;
}

/* Parallax */
.parallex {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/bgr4.jpg) no-repeat;
    background-attachment: fixed;
    /* background-size: 100% 100%; */
    /* width: 100%; */
}

.parallex a {
    background-color: transparent;
    color: white;
    border-radius: 4px;
    border: 2px solid white;
}

.parallex h1 {
    font-size: 55px;
    font-weight: 700;
}

.parallex p {
    font-size: 22px;
}

/* Card */
.row .card .btn {
    background-color: #8a1fe5;
    color: #131314;
    border-radius: 8px;
    border: 2px solid transparent;
}

.row .card .btn:hover {
    background-color: #131314;
    color: #8a1fe5;
    transition: 0.6s;
    border-radius: 8px;
}

/* Table */
.table tr td a {
    background-color: #8a1fe5;
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
}

.table tr td a:hover {
    background-color: #131314;
    color: #8a1fe5;
    transition: 0.6s;
    border-radius: 8px;
}

.d-flex .btn {
    background-color: #8a1fe5;
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
}

.d-flex .btn:hover {
    background-color: #131314;
    color: #8a1fe5;
    transition: 0.6s;
    border-radius: 8px;
}

